name = "PMFRG"
uuid = "37d616f8-0bcb-4e18-9a76-f5d18f52650d"
authors = ["Nils Niggemann <nils.niggemann@fu-berlin.de>"]
version = "2.2.1"

[deps]
DiffEqCallbacks = "459566f4-90b8-5000-8ac3-15dfb0a30def"
FixedPoint = "3325f569-5a18-4e7d-8356-246b69339eea"
H5Zblosc = "c8ec2601-a99c-407f-b158-e79c03c2f5f7"
HDF5 = "f67ccb44-e63f-5c2f-98bd-6dc0ccc4ba2f"
LoopVectorization = "bdcacae8-1622-11e9-2a5c-532679323890"
OrdinaryDiffEqLowOrderRK = "1344f307-1e59-4825-a18e-ace9aa3fa4c6"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
RecursiveArrayTools = "731186ca-8d62-57ce-b412-fbd966d074cd"
SpinFRGLattices = "053fb7f8-31b7-4f68-aef8-4452b415dd8c"
StructArrays = "09ab397b-f2b6-538f-b94a-2f83cf4a842a"
TimerOutputs = "a759f4b9-e2f1-59dc-863e-4aeb61b1ea8f"

[weakdeps]
MPI = "da04e1cc-30fd-572f-bb4f-1f8673147195"

[extensions]
PMFRGMPIExt = ["MPI"]

[extras]
MPI = "da04e1cc-30fd-572f-bb4f-1f8673147195"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "MPI"]
